body {
    font-size: .875rem;
    background: #121212;
    color: white;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  .button {
    background-color: #121212f2; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  .text-green {
    color: rgb(128, 255, 128);
  }

  .text-red {
    color: rgb(255, 131, 131);
  }

  .col-md-9 {
    width: 100%;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: #ffffff0a;
    border-radius: 15px;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #ffffff;
    transition: none;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
   @media only screen and (min-width: 880px) {
    .navbar {
      background: #ffffff20;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
    }  

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      display: flex;
      justify-content: center;
      width: fit-content;
    }

    .navbar-links {
      flex-direction: row;      
    }

    .nav-link {
      transition: none;
      font-size: x-large;
   }

   .logo-text { 
      font-family: monospace;
      display: flex;
      align-items: center;
      align-content: center;
      margin-bottom: 0px;
      padding-left: 8px;
    }

    .menu-button {
      display: none;
    }

    .active {
      display: block;
    }
  }

  @media only screen and (max-width: 880px) {
    .navbar {
      background: #ffffff20;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }  

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
      display: flex;
      justify-content: center;
      width: 100vw;
    }

    .navbar-links {
      flex-direction: column !important; 
      align-items: center;  
    }
    
    .nav-link {
      transition: none;
      font-size: medium;
      padding: 15px 15px;
   }

   .logo-text { 
      font-family: monospace;
      display: flex;
      align-items: center;
      align-content: center;
      margin-bottom: 0px;
      padding-left: 12px;
      font-size: xx-large;
    }

    .menu-button {
      position: relative;
      background-color: #ffffff00;
      border: none;
      
    }

    .active {
      display: none;
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff99;
    transition: none;
  }

 
  
  .navbar .navbar-toggler {
    top: 4rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .logo { 
    width: 50px; 
    pointer-events: initial; 
  }

  .big-logo { 
    width: 200px; 
    pointer-events: initial; 
  }
  
  /*
   * Table
   */
  
  .table {
    background: #ffffff10;
    border-radius: 15px;
    font-family: monospace;
  }

  .even {
    color: white
  }

  .odd {
    color: white
  }
