{% load static %}
<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"><img src="{% static 'img/logo.png' %}" class="logo" /></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav flex-row">
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'home' %}active{% endif %}" aria-current="page" href="/">
            <span data-feather="home"></span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'transactions' %}active{% endif %}" href="/transactions/">
            <span data-feather="file"></span>
            Transactions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nbar == 'logout' %}active{% endif %}" href="/signout/">
            <span data-feather="layers"></span>
            Logout
          </a>
        </li>
      </ul>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/signout/">Sign out</a>
        </div>
    </div>
</header>
  